<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HistoryMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.History">
            <id property="HID" column="HID" jdbcType="INTEGER"/>
            <result property="HTime" column="HTime" jdbcType="DATE"/>
            <result property="HReason" column="HReason" jdbcType="VARCHAR"/>
            <result property="GID" column="GID" jdbcType="INTEGER"/>
            <result property="HName_O" column="HName_O" jdbcType="VARCHAR"/>
            <result property="HName_N" column="HName_N" jdbcType="VARCHAR"/>
            <result property="HDesc_O" column="HDesc_O" jdbcType="VARCHAR"/>
            <result property="HDesc_N" column="HDesc_N" jdbcType="VARCHAR"/>
            <result property="HStock_O" column="HStock_O" jdbcType="INTEGER"/>
            <result property="HStock_N" column="HStock_N" jdbcType="INTEGER"/>
            <result property="HValue_O" column="HValue_O" jdbcType="INTEGER"/>
            <result property="HValue_N" column="HValue_N" jdbcType="INTEGER"/>
            <result property="HCID_O" column="HCID_O" jdbcType="INTEGER"/>
            <result property="HCID_N" column="HCID_N" jdbcType="INTEGER"/>
            <result property="HShelf_O" column="HShelf_O" jdbcType="INTEGER"/>
            <result property="HShelf_N" column="HShelf_N" jdbcType="INTEGER"/>
    </resultMap>

</mapper>
